.right_bar {
    float: left;
    display: inline;
    width: 100%
}

.doc_leftbar {
    float: left;
    display: inline;
    width: 100%;
    margin-bottom: 25px
}

.doc_leftbar>h2 {
    background-image: url("../img/header_dot.png");
    background-repeat: repeat;
    float: left;
    width: 100%;
    margin-top: 0
}

.doc_leftbar>h2 span {
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 15px;
    font-weight: 400;
    padding: 7px 10px;
    position: relative;
    line-height: 15px
}

.doc_leftbar>h2 span {
    background-color: #09c
}

.docleft_inner ul li {
    display: block;
    margin-left: -40px;
}

.docleft_inner {
    background-color: #fff;
    display: inline;
    float: left;
    padding: 15px;
    width: 100%;
}

.docleft_inner img {
    width: 100%
}

.label_nav li a:hover {
    background-color: #09c;
    color: #eee;
    border-color: #09c
}

.label_nav li a {
    border-bottom: 1px solid;
    color: #777;
    display: block;
    padding: 8px 5px;
    font-size: 13px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.label_nav li a:hover {
    text-decoration: none;
    padding-left: 15px
}

.label_nav li a:before {
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-right: 5px
}

.link_nav li a {
    color: #09c
}

.link_nav li a:before {
    color: #09c
}

.link_nav li a {
    display: block;
    padding: 3px 5px;
    font-size: 13px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.link_nav li a:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: "";
    margin-right: 5px
}

.link_nav li a:hover {
    padding-left: 15px;
    color: #777;
    text-decoration: none
}

.fixed {
    position: fixed;
    top: 60px;
}

.catg3_snav li {
    border-top: 1px solid #f1f1f1;
    display: block;
    padding-top: 15px;
    padding-bottom: 5px
}

.catg3_snav .media-left {
    width: 35px;
    height: 35px
}

.catg3_snav .media-left:hover {
    opacity: 0.75
}

.catg3_snav .media-left>img {
    width: 30px;
    height: 30px
}

.catg3_snav .media-left>img {
    height: auto
}

.ppost_nav li {
    border-top: none
}

.catg_title {
    color: #111;
    display: block;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 7px
}

.media-body a {
    text-decoration: none;
}

.catg3_snav>li>.media {
    padding-bottom: 10px;
    border-bottom: 1px solid #ECEBEB;
}