/*====================================================
                       SUBJECTS
======================================================*/

#subject{
    width: 100%;
    background: #f0f0f0; 
    padding:50px ;
}

#subject2{
    width: 100%;
    background: #fff; 
    padding:50px ;
}

#subject .subject-cont {
    width: 250px;
    height: 300px;
    padding: 30px;
    margin: 15px auto;
    background: #fff;
    box-shadow: 2px 2px 2px #ddd;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; 
}

#subject .subject-title h3{
    text-align: center;
    font-weight: 700;
    margin-top: 30px; 
    margin-bottom: 30px;
}

#subject .subject-cont:hover{
    /*border-bottom: 3px solid #2196f3;*/
    box-shadow: 5px 5px 5px #aaa;
}

#subject .subject-cont i{
    font-size: 55px;
    height: 70px;
    line-height: 70px;
    color:#2196f3;
}

#subject .subject-cont h5{
    color: #0A2BD5;
    text-transform: none;
    padding-top: 5px;
}

.subject-cont strong {
    color: #444;
    margin-top: 0px;
    padding-top: 0px;
}

#subject .subject-cont .btn-click{
    padding-top: 80px;
}

#subject .subject-cont .btn-click a {
    background: rgba(255, 255, 255, 0.7);
    color: #09BEBE;
    font-weight: bold;
    font-family: Comic Sans MS;
    padding: 7px 12px;
    font-weight: 300;
    text-decoration: none;
    border: 1px solid #aaa;
}

#subject .subject-cont .btn-click a:hover {
    background: -moz-linear-gradient(45deg, rgba(34, 155, 242, 1) 0%, rgba(0, 128, 129, 1) 99%, rgba(0, 128, 128, 1) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(34, 155, 242, 1)), color-stop(99%, rgba(0, 128, 129, 1)), color-stop(100%, rgba(0, 128, 128, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(34, 155, 242, 1) 0%, rgba(0, 128, 129, 1) 99%, rgba(0, 128, 128, 1) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(34, 155, 242, 1) 0%, rgba(0, 128, 129, 1) 99%, rgba(0, 128, 128, 1) 100%);
    /* opera 11.10+ */
    color: #fff;
}

@media (min-width: 992px) and (max-width: 1199px) {
    #subject .subject-cont {
        padding: 10px 30px 30px 30px ;
        margin: 15px 0;
        background: #fff;
        box-shadow: 2px 2px 2px #ddd;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out; 
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .col-md-3 {
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }    
}

@media (max-width: 420px){
    #subject{
        width: 100%;
        background: #f0f0f0; 
        padding:100px 30px ;
     }
         #subject .subject-cont {
        padding: 20px ;
        margin: 15px 0;
        background: #fff;
        box-shadow: 2px 2px 2px #ddd;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out; 
    }
}